doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="main.css")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Mono", rel="stylesheet")

  body
    != yield
