---
const year = new Date().getFullYear();
---

<footer class="footer">
  <div>© {year} Theo Zourzouvillys</div>
  <div class="footer__links">
    <a href="https://www.instagram.com/zourzouvillys" rel="me noopener" target="_blank">Instagram</a>
    <a href="https://www.instagram.com/sailing.eelyos" rel="noopener" target="_blank">Eelyos</a>
    <a href="/rss.xml">RSS</a>
    <a href="https://calendly.com/z11s/personal-intro-call" rel="noopener" target="_blank">Say hi</a>
  </div>
</footer>
